<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="i.am.whp.dao.PermissionMapper">
    <resultMap id="BaseResultMap" type="i.am.whp.domain.Permission">
        <!--@mbg.generated-->
        <!--@Table permission-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="permission_type" jdbcType="TINYINT" property="permissionType"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, permission_type, description
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from permission
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from permission
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="i.am.whp.domain.Permission"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into permission (permission_type, description)
        values (#{permissionType,jdbcType=TINYINT}, #{description,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="i.am.whp.domain.Permission"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permissionType != null">
                permission_type,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permissionType != null">
                #{permissionType,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="i.am.whp.domain.Permission">
        <!--@mbg.generated-->
        update permission
        <set>
            <if test="permissionType != null">
                permission_type = #{permissionType,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="i.am.whp.domain.Permission">
        <!--@mbg.generated-->
        update permission
        set permission_type = #{permissionType,jdbcType=TINYINT},
        description = #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>